<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Сетка</title>
</head>
<body>
    <table>
    <thead>
        <tr>
            <th>IP</th>
            <th>Server</th>
        </tr>
    </thead>
    <tbody id="table-body">
        <tr>
            <td> 100.120.10.33</td>
            <td> есть</td>
        </tr>
        <tr>
            <td> 100.120.10.35</td>
            <td> нет</td>
        </tr>
    </tbody>
</table>
    <script src="/static/script.js"></script>
</body>
</html>